button{

    background-color: #8cff00;
    position: absolute;
    left: 800px;
    top: 200px;
    z-index: 1;
}

.closeButton{

    background-color: #003cff;
    position: absolute;
    left: 800px;
    top: 200px;
    z-index: 1;

}
.serveButton{

    background-color: #f6ff00;
    position: absolute;
    left: 800px;
    top: 250px;
    z-index: 1;

}

p{
    font-size: 30pt;
    color: #8cff00;
    position: absolute;
    z-index: 1;
    top: 70px;
    left: 85px;

}

.cash{
    font-size: 20pt;
    color: #8cff00;
    position: absolute;
    z-index: 1;
    top: 140px;
    left: 105px;

}

.amarena{
    background-color: #ff4760;
    position: absolute;
    height: 75px;
    width: 213px;
    left: 33px;
    top: 308px;
    /* z-index: 1; */
}

.banana{
    background-color: #fcff3e;
    position: absolute;
    height: 75px;
    width: 213px;
    left: 33px;
    top: 383px;
    /* z-index: 1; */
}

.pistazie{
    background-color: #a3ff47;
    position: absolute;
    height: 75px;
    width: 239px;
    left: 245px;
    top: 308px;
    /* z-index: 1; */
}

.coffee{
    background-color: #c77646;
    position: absolute;
    height: 75px;
    width: 239px;
    left: 245px;
    top: 383px;
    /* z-index: 1; */
}

.vanilla{
    background-color: #ffeb66;
    position: absolute;
    height: 75px;
    width: 120px;
    left: 483px;
    top: 308px;
    /* z-index: 1; */
}

.chocolate{
    background-color: #b58649;
    position: absolute;
    height: 75px;
    width: 120px;
    left: 483px;
    top: 383px;
    /* z-index: 1; */
}

.caramel{
    background-color: #ff9a1e;
    position: absolute;
    height: 75px;
    width: 120px;
    left: 601px;
    top: 308px;
    /* z-index: 1; */
}

.liqueur{
    background-color: #f8ffb5;
    position: absolute;
    height: 75px;
    width: 120px;
    left: 601px;
    top: 383px;
    /* z-index: 1; */
}

.krokant{
    background-color: #3c1a03;
    position: absolute;
    height: 75px;
    width: 120px;
    left: 720px;
    top: 308px;
    /* z-index: 1; */
}

.streusel{
    background-color: #ff0000;
    position: absolute;
    height: 75px;
    width: 120px;
    left: 720px;
    top: 383px;
    /* z-index: 1; */
}

.coffeePowder{
    background-color: #c99867;
    position: absolute;
    height: 75px;
    width: 145px;
    left: 839px;
    top: 308px;
    /* z-index: 1; */
}

.marshmallow{
    background-color: #ffffff;
    position: absolute;
    height: 75px;
    width: 145px;
    left: 839px;
    top: 383px;
    /* z-index: 1; */
}

.cup{
    background-color: #47edff;
    position: absolute;
    height: 50px;
    width: 52px;
    left: 82px;
    top: 258px;
    font-size: 9pt;
    /* z-index: 1; */
}

.waffle{
    opacity: 0;
    position: absolute;
    height: 70px;
    width: 50px;
    left: 158px;
    top: 238px;
    font-size: 9pt;
    /* z-index: 1; */
}

.waffleFont{
    position: absolute;
    font-size: 9pt;
    top: 244px;
    left: 167px;
}

.cream{
    background-color: #4766ff;
    position: absolute;
    height: 72px;
    width: 28px;
    left: 646px;
    top: 238px;
    font-size: 9pt;
}

.creamFont{
    position: absolute;
    font-size: 9pt;
    top: 200px;
    left: 646px;
    z-index: 1;

}

